# Node.js
node_modules/

# Logs
logs/
*.log
*.log.*

# Runtime files
pids/
*.pid
*.seed

# Directory for instrumented libs
lib-cov/

# Coverage directory used by tools like istanbul
coverage/

# npm package logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env

# IDE or editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# MongoDB data files (if using local MongoDB)
data/

# Build directory for frontend (if using React.js)
build/

# Debug files
*.vscode/

# Miscellaneous
*.tgz
